/*! --
// (c) Mario Dentone 2019
---------------------- */

html, body, input, button {
    font-family: serif;
}

html, body {
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

header, footer {
    padding: 8px;
    font-size: .8em;
    font-weight: bold;
    color: #ddd;
}

#layout {
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #00000080;
}

#aligner {
    position: absolute;
    left: 50%;
}

#description {
    position: relative;
    left: -50%;
    top: 80px;
    min-width: 290px;
    width: 50vw;
    max-width: 90vw;
    bottom: 80px;
    background: #111;
    border: 4px solid #555;
    padding: 20px 40px;
    max-height: 75vh;
}

.collapsible-header {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.collapsible-header .active, .collapsible-header:hover {
    background-color: #555;
}

.collapsible-content {
    display: none;
    padding: 8px 16px;
    overflow: hidden;
}

#champions, #combitems, #baseitems {
    text-align: center;
}

.tft-object-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.tft-baseitem, .tft-combitem, .tft-champion {
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 4px;
    padding: 2px;
    display: inline-block;
    width: 64px;
    height: 64px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    font-size: .75em;
}

.tft-combitem, .tft-champion {
    cursor: pointer;
}

.tft-combitem:active, .tft-combitem:hover,
.tft-champion:active, .tft-champion:hover {
    outline: #84e2ffcc solid 1px;
    box-shadow: 0 0 9px 3px #84e2ff;
}

.tft-champion {
    color: black;
}

.tier--1 {
    box-shadow: 0 0 9px 2px pink;
}

.tier-1 { /* red */
    border-color: #f35103;
    background-color: #f35103;
}

.tier-2 { /* gold */
    border-color: gold;
    background-color: gold;
}

.tier-3 { /* silver */
    border-color: #ddd;
    background-color: #ddd;
}

.tier-4 { /* bronze */
    border-color: #af881c;
    background-color: #af881c;
}

.tier-5 { /* iron */
    border-color: #777672;
    background-color: #777672;
}
